.main-home-section {
    }
.view-all-btn {
    position: absolute;
    right: 60px;
    top: 144px;
}
.bg-blue {
    background-color: rgba(212, 212, 246, 0.4);
}
.home-heading {
    padding: 20px 0;
}
.tabe-main-wrapper {
    padding: 60px 0;
    .tabs-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: nowrap;
        gap: 15px;
        overflow-x: scroll;
        border: none;
        &::-webkit-scrollbar {
            display: none;
            appearance: none;
        }
        .nav-link {
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
            background-color: rgba(212, 212, 246, 0.4);
            border-radius: 20px;
            padding: 10px 20px;
            color: black;
            white-space: nowrap;
        }
        .active {
            background-color: blue;
            color: white;
        }

    }
}
.product-wrapper-frame {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}
@media (max-width:820px) {
    .product-wrapper-frame {
        gap: 15px;
        justify-content: center;

    }
    .view-all-btn {
    
        right: 20px;
        // top: 100px;
    }
}
